spring:
  datasource:
    url: jdbc:h2:file:~/testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

  cloud:
    aws:
      s3:
        bucket: seolstudy-s3-bucket
      region:
        static: ap-northeast-2
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}

jwt:
  secret: ${JWT_SECRET:devtokensecretkey12345678901234567890}
  expiration: 3600000